<config>
	<comment>Example of config file: change its as your need.</comment>
	<serverpasswd>abcdef</serverpasswd>
	<serverport>21</serverport>
	<serverhome>/usr/local/goldengateftp/home</serverhome>
	<serverthread>6</serverthread>
        <clientthread>100</clientthread>
	<sessionlimit2>102400</sessionlimit2>
	<globallimit2>102400000</globallimit2>
	<sessionlimit>0</sessionlimit>
	<globallimit>0</globallimit>
	<timeoutcon>10000</timeoutcon>
	<deleteonabort>0</deleteonabort>
	<usenio>0</usenio>
	<usefastmd5>1</usefastmd5>
	<fastmd5>/usr/local/goldengateftp/lib/MD5.so</fastmd5>
	<blocksize>65536</blocksize>
	<rangeport>
		<min>10006</min>
		<max>64000</max>
	</rangeport>
        <retrievecmd>/usr/local/goldengateftp/command/retrieve.sh</retrievecmd>
        <storecmd>/usr/local/goldengateftp/command/store.sh</storecmd>
	<authentfile>/usr/local/goldengateftp/config/authent.xml</authentfile>
</config>
